<nb-card>
  <nb-card-header>
تعریف انبار فرعی
  </nb-card-header>
  <nb-card-body>
    <toaster-container [toasterconfig]="config"></toaster-container>
        <form  (ngSubmit)="onSubmit()" #createDocument="ngForm" novalidate>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" >
                <label>انبار اصلی</label>
                <ng-select [items]="majorStock"  [(ngModel)]="warehouse.parent" name="parent" class="form-control"
                           bindLabel="name"
                           bindValue="_id">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>کد انبار فرعی</label>
                <input [(ngModel)]="warehouse.code" name="code" type="text" class="form-control">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>نام انبار فرعی</label>
                <input [(ngModel)]="warehouse.wareHouseName" name="wareHouseName" type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>آدرس</label>
                <input [(ngModel)]="warehouse.address" name="address" type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-12">
              <button type="submit" class="btn btn-success pull-left m-l-10"> ثبت </button>
              <button type="button" (click)="onCancel()" class="btn btn-primary pull-left" > انصراف </button>
            </div>
          </div>
        </form>
  </nb-card-body>
</nb-card>
