  <nb-card>
    <nb-card-header>
      ایجاد سند ورود کالا
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12">
          <form  (ngSubmit)="onDocumentSubmit()" #createDocument="ngForm" novalidate>
            <div class="row">
              <div class="col-sm-2">
                نوع ورود
              </div>
              <div class="col-sm-4">
                <div class="form-group" *ngIf="inputTypes">
                  <select class="form-control" [(ngModel)]="documentInput.kind" name="kind" >
                    <option *ngFor="let entry of inputTypes" value="{{entry.value}}">{{entry.name}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-2">
                <label>تاریخ</label>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <dp-date-picker
                    required
                    [(ngModel)]="documentInput.date"
                    class="form-control"
                    name="date"
                    dir="rtl"
                    mode="day"
                    theme="dp-material">
                  </dp-date-picker>
                </div>
              </div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-2">
                مبدا
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <ng-select [items]="source" [(ngModel)]="documentInput.source" name="source" class="form-control"
                             bindLabel="name"
                             bindValue="id">
                  </ng-select>
                </div>
              </div>
              <div class="col-sm-2">
                انبار اصلی
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <ng-select [items]="majorStock" (ngModelChange)="majorStockSelected($event)" [(ngModel)]="documentInput.majorStock" name="majorStock" class="form-control"
                             bindLabel="name"
                             bindValue="_id">
                  </ng-select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2 offset-6">
                انبار فرعی
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <ng-select [items]="minorStock" [(ngModel)]="documentInput.minorStock" name="minorStock" class="form-control"
                             bindLabel="name"
                             bindValue="id">
                  </ng-select>
                </div>
              </div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>توضیحات</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </form>


          <div class="row m-t-20">
            <div class="col-sm-12">
              <h5>
                اضافه کردن کالا
              </h5>
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <ng2-smart-table  [settings]="settings" [source]="products"></ng2-smart-table>
            </div>
          </div>

          <div class="row m-t-20">
            <div class="col-sm-12">
              <div class="form-group pull-left">
                <button type="button" (click)="onSubmit()" class="btn btn-success btn-block" >ثبت نهایی</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </nb-card-body>
  </nb-card>
