<nb-card>
  <nb-card-header>
    ورود کالا
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <form  (ngSubmit)="onDocumentSubmit()" #createDocument="ngForm" novalidate>
          <div class="form-group" *ngIf="inputTypes">
            <label>نوع ورود</label>
            <select class="form-control" [(ngModel)]="documentInput.kind" name="kind" >
              <option *ngFor="let entry of inputTypes" value="{{entry.value}}">{{entry.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>مبدا</label>
            <ng-select [items]="source" [(ngModel)]="documentInput.source" name="source" class="form-control"
                       bindLabel="name"
                       bindValue="id">
            </ng-select>
          </div>

          <div class="form-group">
            <label>مقصد</label>
            <ng-select [items]="destination" [(ngModel)]="documentInput.destination" name="destination" class="form-control"
                       bindLabel="name"
                       bindValue="id">
            </ng-select>
          </div>

          <div class="form-group">
            <label>تاریخ</label>
            <dp-date-picker
              required
              [(ngModel)]="documentInput.date"
              class="form-control"
              name="date"
              dir="rtl"
              mode="day"
              placeholder="تاریخ شروع"
              theme="dp-material">
            </dp-date-picker>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group pull-left">
                <input type="submit" class="btn btn-success" value="ثبت سند">
              </div>
            </div>
          </div>
        </form>
        <hr />

        <form  (ngSubmit)="onProductSubmit()" #createProduct="ngForm" novalidate>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>مقدار</label>
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label>کالا</label>
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label>واحد</label>
                <input type="text" class="form-control">
              </div>
            </div>


            <div class="col-md-3">
              <i class="fa fa-plus-circle fa-4x"></i>
            </div>

          </div>

        </form>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group pull-left">
              <input type="submit" class="btn btn-success btn-block" value="ثبت کل">
            </div>
          </div>
        </div>

      </div>
    </div>
  </nb-card-body>
</nb-card>
