<nb-card>
  <nb-card-header>
   لیست اسناد کالاهای ورودی
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-2 m-b-20">
        <a [routerLink]="['/pages/stocking/inputPartsCreate']"><button class="btn btn-block btn-success"> <i class="fa fa-plus-circle"></i>  ایجاد سند </button></a>
      </div>
      <div class="col-md-12">
        <ng2-smart-table  [settings]="settings" (custom)="onCustom($event)" [source]="source"  (createConfirm)="onCreateConfirm($event)"  (editConfirm)="onSaveConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </div>
    </div>
  </nb-card-body>
</nb-card>
