<nb-card>
  <nb-card-header>
تعریف انبار اصلی
  </nb-card-header>
  <nb-card-body>
        <form  (ngSubmit)="onSubmit()" #createDocument="ngForm" novalidate>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>کد انبار اصلی</label>
                <input [(ngModel)]="warehouse.code" name="code" type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>نام انبار اصلی</label>
                <input [(ngModel)]="warehouse.wareHouseName" name="wareHouseName" type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>آدرس</label>
                <input [(ngModel)]="warehouse.address" name="address" type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-12">
              <button type="button" (click)="onCancel()" class="btn btn-primary pull-left" > انصراف </button>
              <button type="submit" class="btn btn-success pull-left m-l-10" > ثبت </button>
            </div>
          </div>
        </form>
  </nb-card-body>
</nb-card>
